* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a{text-decoration: none;}
  html, body{
    font-family: sans-serif;
    height: 100%;
    -webkit-user-select: none;
    user-select: none;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
    opacity: 100%;
    background-color: #9aff5b;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: 0 0 5% black; 
    transition: 0.5s;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #63d31e;
    transition: 0.4s; 
    border-radius: 50px;
  }
  
  /* NAV BAR Y FONDO */
  
  .menu_bar{
    background-color: rgb(29, 30, 30);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
  }
  
  .menu_bar2{
    background-color: rgb(29, 30, 30);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
  }
  
  .menu_bar2 ul{
    list-style: none;
    display: flex;
  }
  
  .menu_bar2 ul li{
    padding: 10px 20px;
  }
  
  .menu_bar2 ul li a{
    color: #e9e9e9;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.4s;
  }
  
  .menu_bar2 ul li a:hover{
    color: #0073ff;
    font-size: 17px;
  }
  
  .logo{
    color: #e9e9e9;
    font-size: 20px;
  }
  .menu_bar .logo{
    color: #e9e9e9;
    font-size: 20px;
  }
  
  .logo span{
    color: #9aff5b;
  }
  
  .menu_bar ul{
    list-style: none;
    display: flex;
  }
  
  .menu_bar ul li{
    padding: 10px 20px;
  }
  
  .menu_bar ul li a{
    color: #e9e9e9;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.4s;
  }
  
  .menu_bar ul li a:hover{
    color: #9aff5b;
    font-size: 17px;
  }
  
  .fondo{
    background-color: #323539;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    background-position: center;
    justify-content: center;
    height: 93vh;
  }
  
  .fondo h2{
    color: #e9e9e9;
  }
  .am-pro b {
    position: relative;
    font-size: 20px;
    color: #fff;
    animation: futurista 2s ease-in-out infinite;
  }
  
  @keyframes futurista {
    0% {
      opacity: 0;
      transform: translateY(20px) rotateX(20deg) rotateY(0);
      text-shadow: 0 0 20px #fff;
    }
    50% {
      opacity: 1;
      transform: translateY(0) rotateX(0) rotateY(180deg);
      text-shadow: 0 0 40px #fff, 0 0 80px #fff, 0 0 160px #fff;
    }
    100% {
      opacity: 0;
      transform: translateY(-20px) rotateX(-20deg) rotateY(360deg);
      text-shadow: 0 0 20px #fff;
    }
  }
  
  .fondo h2{
    top: 50%;
    width: 100%;
    text-align: center;
    padding: 100px;
    font-size: 70px;
    padding-top: 10px;
    padding-bottom: 25px;
  }
  
  .fondo p{
    color: #e9e9e9;
    text-align: center;
    padding-bottom: 25px;
    font-size: 20px;
  }
  
  .fondo-botones{
    top: 20%;
    width: 100%;
    text-align: center;
  }
  
  .fondo-img{
    padding-top: 80px;
    text-align: center;
  }
  
  .fondo-img img{
    height: 250px;
    width: 250px;
    border-radius: 19px;
  }
  
  .fondo h2 span{
    color: #9aff5b;
  }
  
  .fondo-botones button, a{
    border-radius: 10px;
    border-color: #9aff5b;
    border-width: 0;
  }
  
  .fondo-botones a{
    display: flex;
    border-color: #9aff5b;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    text-decoration: none;
    color: black;
    background-color: #9aff5b;
    font-size: 20px;
    transition: 0.4s;
  }
  
  .fondo-botones a:hover{
    background-color: #76f825;
    color: black;
    transition: 0.4s;
    cursor:help;
  }
  
  /* PROYECTOS */
  
  .projects {
    text-align: center;
    background-color: #323539;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    background-position: center;
    justify-content: center;
    min-height: 93vh;
  }
  
  .projects-title {
    font-size: 36px;
    margin-bottom: 20px;
    color: white;
  }
  
  .projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
  }

  .project-item p, h3, .project-item2 p, h3{color: white;}
  .project-item:hover{border-radius: 0px; transform: scale(1.05);}
  
  .project-item2, .project-item3 {
    box-shadow: 0 0 5px #e9e9e9;
    transition: .4s;
    border-radius: 20px;
    background-color: #21252a;
    margin: 20px;
    max-width: 350px;
  }
  .project-item2:hover{border-radius: 0px; transform: scale(1.05);}
  .project-item1:hover{border-radius: 0px; transform: scale(1.10);}

  .project-item1 {
    box-shadow: 0 0 5px #e9e9e9;
    transition: .4s;
    border-radius: 20px;
    background-color: #21252a;
    margin: 20px;
    max-width: 350px;
    transform: scale(1.05);
  }
  .project-item1::before {
    content: "👑";
    position: absolute;
    top: -20px;
    left: -20px;
    font-size: 40px;
    transform: rotate(-10deg);
  }
  .project-item1 p{color: white;}

  .project-details p{margin-bottom: 10px;}
  .project-item2 {width: 100%;height: auto;}
  .h3-working-{color: orange; font-size: 15px; padding-bottom: 20px;}
  .project-details {padding: 20px;}
  .project-title {font-size: 24px;margin-bottom: 0px;}
  .project-description {font-size: 16px;line-height: 1.5;margin-bottom: 10px;}
  
  .project-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #9aff5b;
    color: black;
    text-decoration: none;
    border-radius: 4px;
    transition: .4s;
  }
  
  .project-link:hover {background-color: #76f825;}
  
  /* FOOTER */
  footer {
    background-color: rgb(29, 30, 30);
    padding: 30px 0;
    width: 100%;
    text-align: center;
    color: white;
  }

  footer a:hover{color:#9aff5b;}
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-left {text-align: left;}
  .footer-left h3 {margin-bottom: 10px; font-size: 22px; color: #bfb1b1;}
  .footer-links ul {list-style: none; margin: 0; padding: 0;}
  .footer-links li {margin-bottom: 10px;}
  .footer-links a {text-decoration: none; color: #ffffff;}
  
  @media screen and (min-width: 768px) {
    .footer-links ul {
      display: flex;
      flex-direction: column;
    }
    
    .footer-links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-basis: 30%;
    }
    
    .footer-links ul {
      margin-right: 30px;
    }
    
    .footer-links ul:last-child {
      margin-right: 0;
    }
    
    .footer-left {
      flex-basis: 70%;
    }
  }
  
