* {
    box.sizing: border-box;
}

body{
    font-family: arial, helvetica;
    background: #e8e8e8;
    margin: 0;
    padding: 0;
}

.header{
    background: gray;
    overflow: hidden;
    padding: 20px 10px;
}

.header a{
    float:left;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    letter-spacing: 1.5px;
    font-size: 15px;
    line-height: 25px;
}

.header a.logo{
    font-weight: bold;
    font-size: 20px;
}

.header a:hover{
    background: #ddd;
    color: #000;
}

.header-right{
    float: right;
}

@media screen and (max-width:550px){
    .header a{
        float: none;
        display: block;
        text-align: left;
    }
    
    .header-right{
        float: none;
    }
}
