* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-family: sans-serif;
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
}

/* NAV BAR Y FONDO */

.menu_bar{
  background-color: #141d28;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.logo{
  color: #e9e9e9;
  font-size: 30px;
}

.logo span{
  color: greenyellow;
}

.menu_bar ul{
  list-style: none;
  display: flex;
}

.menu_bar ul li{
  padding: 10px 20px;
}

.menu_bar ul li a{
  color: #e9e9e9;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.4s;
}

.menu_bar ul li a:hover{
  color: #0073ff;
  font-size: 19px;
}

.fondo{
  background-image: url("https://avatars.githubusercontent.com/u/92215714?s=400&u=7696b79d8889e8d7bb23feb2822d6f06c2f52b58&v=4");
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  background-position: center;
  display: flex;
  justify-content: center;
  height: 91vh;
}

.fondo h2{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 70px;
  color: #e9e9e9;
}

.fondo h2 span{
  color: greenyellow;
}

.buttonw1{
  border-radius: 5px;
  background-color: #6f79ff;
  border-width: 4px;
  border-color: white;
}

.buttonw1 a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 4px;
  transition: 2s;
  justify-content: center;
}

.buttonw1 a:hover{
  color: blue;
  font-size: 22px;
  transition: 2s;
}

/* PROYECTOS */

.projects{
  display: inline-block;
  background-color: #e9e9e9;
  border-radius: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.separador{
  padding: 20px;
}

.projects-title{
  text-align: center;
  padding: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}

.projects-list{
  display: flex;
  list-style: none;
  padding: 20px 20px;
}

.projects-list h2{
  text-align: center;
}

.projects-list li{
  transition: 0.8s;
  border-radius: 20px;
  background-color:darkslategray;
}

.projects-list li:hover{
  background-color: #6f79ff;
}

.uno:hover{
  transform: perspective(1000px) rotateY(-15deg);
  background-size: 90;
  transition: 0.8s;
}

.dos:hover{
  transform: perspective(800px) rotateX(-15deg);
  transition: 0.8s;
}

.tres:hover{
  transform: perspective(800px) rotateY(15deg);
  transition: 0.8s;
}

/* FOOTER */

.footer{
  text-align: center;
  background-color: #141d28;
  color: white;
  padding: 8px;
  bottom: 0;
  width: 100%;
}

::-webkit-scrollbar {
  width: 7px;
  opacity: 100%;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black; 
  transition: 0.5s;
}

::-webkit-scrollbar-thumb:hover {
  background: greenyellow;
  transition: 0.4s; 
  border-radius: 20px;
}
